<div class="under-construction-banner">
    <div class="under-construction-container">
        <div class="under-construction-icon">
            <svg viewBox="0 0 24 24" fill="currentColor" class="under-construction-svg">
                <path d="M12 2C13.1 2 14 2.9 14 4C14 5.1 13.1 6 12 6C10.9 6 10 5.1 10 4C10 2.9 10.9 2 12 2ZM21 9V7L15 3.5C14.8 3.4 14.6 3.3 14.4 3.3L12 4.4L9.6 3.3C9.4 3.3 9.2 3.4 9 3.5L3 7V9H4.5V21H6.5V9H8.5V21H10.5V9H13.5V21H15.5V9H17.5V21H19.5V9H21Z"/>
            </svg>
        </div>
        <div class="under-construction-content">
            <h3 class="under-construction-title">Under Construction</h3>
            <p class="under-construction-message">This page is currently being developed. Please check back soon for updates!</p>
        </div>
    </div>
</div>