<div class="footer">
    <div class="footer-text-area">
        <div class="footer-content">
            <div class="footer-header">
                <b class="footer-header1">Contact Information</b>
            </div>
            <div class="footer-text">
                <div class="this-is-footer-container">
                    <p class="p">204-986-5426</p>
                    <p class="p">info@winnipegcrimestoppers.org</p>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-header">
                <b class="footer-header1">Mailing Address</b>
            </div>
            <div class="footer-text">
                <div class="this-is-footer-container">
                    <p class="p">Winnipeg Crime Stoppers</p>
                    <p class="p">PO Box 48089, RPO Lakewood</p>
                    <p class="p">Winnipeg Manitoba</p>
                    <p class="p">R2J 2M8</p>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-header">
                <b class="footer-header1">Follow Us</b>
            </div>
            <div class="footer-text">
                <div class="this-is-footer-container">
                    <p class="p">Facebook</p>
                    <p class="p">YouTube</p>
                    <p class="p">X (Formerly Known as Twitter)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-warning">
        <div class="footer-warning-icon-wrapper">
            <img src="assets/icons/Alarm_fill.svg" alt="Warning" class="footer-warning-icon">
        </div>
        <b class="the-following-contacts">THE FOLLOWING CONTACTS ARE FOR ADMINISTRATIVE PURPOSES ONLY. DO NOT USE THESE CONTACTS TO SUBMIT TIPS OR REPORT CRIMES.</b>
    </div>
</div>