<div class="footer">
    <div class="footer-content-grid">
        <div class="footer-column">
            <h4 class="footer-heading">Contact Information</h4>
            <p class="footer-body">
                204-986-5426
                info@winnipegcrimestoppers.org
            </p>
        </div>
        <div class="footer-column">
            <h4 class="footer-heading">Mailing Address</h4>
            <p class="footer-body">
                Winnipeg Crime Stoppers
                PO Box 48089, RPO Lakewood
                Winnipeg Manitoba R2J 2M8
            </p>
        </div>
        <div class="footer-column">
            <h4 class="footer-heading">Follow Us</h4>
            <p class="footer-body">
                Facebook
                YouTube
                X (Formerly Known as Twitter)
            </p>
        </div>
    </div>
    
    <div class="footer-warning">
        <div class="footer-warning-icon-wrapper">
            <div class="icon-alarm"></div>
        </div>
        <p class="footer-warning-text">
            THE FOLLOWING CONTACTS ARE FOR ADMINISTRATIVE PURPOSES ONLY.
            DO NOT USE THESE CONTACTS TO SUBMIT TIPS OR REPORT CRIMES.
        </p>
    </div>
</div>